.formArray {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal {
    width: 1041px;
    height: 456px;
}

.procedureItem {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.checkImage {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.procedureLabel {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
}

.inputField, .inputField * {
    width: 181px;
    height: 44px;
    flex-shrink: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-top: 8px;

    border-radius: 5px;
    border: 2px solid #9CBEB3;
    background: #F6F6FB;
}

.numericInputField {
    width: 181px;
    height: 44px;
    flex-shrink: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-top: 8px;

    border-radius: 5px;
    background: #F6F6FB;
}
.proceduresContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 39px;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 45px;
    margin-right: 55px;
}

.trash {
    display:flex;
    margin-top: 32px;
}

.cancelButton {
    border-radius: 5px;
    border: 2px solid #D6D6EB;
    background: #FFF;
    display: flex;
    width: 138px;
    height: 32px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: #6E6D8C;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imageAdd {
    margin-left: 19px;
    margin-right: -18px;
    margin-bottom: -2px;
    width: 15.82px;
    height: 15.811px;
}
.saveButton {
    display: inline-flex;
    height: 32px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background-color: #3F48AD;
}

.addProcedure {
    color: #16a34a;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}
.title {
    color: #1E2469;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Heading 01/medium */
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.text {
    margin-left: 20px;
    color: #07B284;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}
.header {
    margin-bottom: 20px;
    margin-left: 89px;
}

.procedureTitle {
    width: 64vw !important;
}
